.page6 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: fadein 3s;
  -webkit-animation: fadein 3s;
}
@-webkit-keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.page6_ment11 {
  font-size: 30px;
  font-weight: 800;
  margin-top: 40px;
}
.page6_ment2 {
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 30px;
  font-size: 15px;
  font-weight: 400;
}

.page6_ment2 p {
  padding: 5px;
}
