
<div class="header">
    <div class="logo">
        <h3><a href="#target1" class="scroll">iPhone 12 Pro</a></h3>
    </div>

    <div class="menu">
        <ul>
            <li class="detail_menu"><a href="#target1" class="scroll">Summary </a>|</li>
            <li class="detail_menu"><a href="#target2" class="scroll">Video </a>|</li>
            <li class="detail_menu"><a href="#target3" class="scroll">Model </a>|</li>
            <li class="detail_menu"><a href="#target4" class="scroll">Price </a>|</li>
            <li class="detail_menu"><a href="#target5" class="scroll">Technology </a>|</li>
            <li class="detail_menu"><a href="#target6" class="scroll">Specifications</a></li>
        </ul>
    </div>
</div>

<section class="header_level">

</section>