<div id="target5" style="height: 100vh;" class="page5">
    <div class="page5_ment11">
        <p>Lidar Tech</p>
        <hr width="55px" style="opacity: 0.2;" />
    </div>
    <div class="page5_boxes">
        <div class="page5_box1">
            <video muted autoplay loop width="600px" height="400px">
                <source src="https://firebasestorage.googleapis.com/v0/b/picture-storage-a8f07.appspot.com/o/flask_introduce_project%2Flidar_video.mp4?alt=media&token=9fe523ea-2726-4a36-a775-7033543c71f2" type="video/mp4">
            </video>
        </div>
        <div class="page5_box2">
            <div class="page5_ment1">
                <p>화성 표면을 스캔하는 첨단 기술.</p>
                <p>이제 당신 손 안에.</p>
            </div>
            <div class="page5_ment2">
                <p>증강 현실이 보여주는 새로운 가능성의 세계.</p>
                <p>맞춤 제작된 LIDAR 센서.</p>
                <p>첨단 심도 매핑 기술 탑재.</p>
            </div>
        </div>
    </div>
</div>


