<div id="target3" style="height: 100vh;" class="page3">
    <div class="page3_box1">
        <div class="page3_ment1">
            <p>Model</p>
            <hr width="55px" style="opacity: 0.2;" />
        </div>
    </div>
    <div class="page3_box2">
        <div class="page3_ment2">
            <ul>
            <li class="phone1">
                <a href="https://www.apple.com/kr/shop/buy-iphone/iphone-12-pro"><img src="https://firebasestorage.googleapis.com/v0/b/picture-storage-a8f07.appspot.com/o/flask_introduce_project%2Fphone1.png?alt=media&token=df7a16e8-51cb-457d-9ac9-2ecd1da5c35c" /></a>
                <p>퍼시픽 블루</p>
                <span>Pacific blue</span>
            </li>
            <li class="phone2">
                <a href="https://www.apple.com/kr/shop/buy-iphone/iphone-12-pro"><img src="https://firebasestorage.googleapis.com/v0/b/picture-storage-a8f07.appspot.com/o/flask_introduce_project%2Fphone2.png?alt=media&token=64b1a1a6-2947-40e1-9ee0-001cdb492a36" /></a>
                <p>골드</p>
                <span>Gold</span>
            </li>
            <li class="phone3">
                <a href="https://www.apple.com/kr/shop/buy-iphone/iphone-12-pro"><img src="https://firebasestorage.googleapis.com/v0/b/picture-storage-a8f07.appspot.com/o/flask_introduce_project%2Fphone3.png?alt=media&token=0d80f607-a937-49a0-97d7-7202df1b49ea" /></a>
                <p>그래파이트</p>
                <span>Graphite</span>
            </li>
            <li class="phone4">
                <a href="https://www.apple.com/kr/shop/buy-iphone/iphone-12-pro"><img src="https://firebasestorage.googleapis.com/v0/b/picture-storage-a8f07.appspot.com/o/flask_introduce_project%2Fphone4.png?alt=media&token=294bbe79-3072-401c-96ba-a14deb2d2437" /></a>
                <p>실버</p>
                <span>Silver</span>
            </li>
            </ul>
        </div>
    </div>
</div>