<div id="target2" style="height: 100vh;" class="page2">
    <div class="page2_box1">
        <div class="page2_ment1">
            <p>Video</p>
            <hr width="55px" style="opacity: 0.2;" />
        </div>
        <div class="page2_ment2">
            <iframe src="https://www.youtube.com/embed/65JrtwtTOdc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </div>
</div>