<div id="target6" style="height: 100vh;" class="page6">
    <div class="page6_ment11">
        <p>Specifications</p>
        <hr width="55px" style="opacity: 0.2;" />
    </div>
    <div class="page6_ment2">
        <p>프로세서 | Apple A14 Bionic APL1W01 SoC.  + Apple U1 + Qualcomm Snapdragon X55 5G Modem</p>
        <p>메모리 | 6 GB LPDDR4X[R] SDRAM, 128 / 256 / 512 GB</p>
        <p>디스플레이 | 6.1인치 19.5:9 비율 2532 x 1170 (460 ppi) Super Retina XDR 디스플레이, Multi-Touch 지원 정전식 터치 스크린</p>
        <p>네트워크 | 5G 네트워크</p>
        <p>근접통신 | Wi-Fi 1/2/3/4/5/6, 블루투스 5.0+LE, NFC/FeliCa</p>
        <p>카메라 | 전면 1,200만 화소</p>
        <p>배터리 | 내장형 Li-Ion 2,815 mAh </p>
        <p>운영체제 | iOS 14.1</p>
        <p>규격 | 71.5 x 146.7 x 7.4 mm, 187 g</p>
        <p>색상 | 그래파이트, 실버, 골드, 퍼시픽 블루</p>
        <p>단자정보 | USB 2.0 Apple Lightning 8-pin x 1, MagSafe x 1</p>
        <p>생체인식 | 얼굴인식 - 전면 SL 센서(TrueDepth 카메라 시스템) 인식 방식</p>
        <p>기타 | IP68 등급 방수 방진 지원[4], Dolby Atmos 기술 탑재, MagSafe 지원</p>
    </div>

</div>